# Данные для входа главного администратора
# Пароль должен быть от 12 до 72 символов (требование pgcrypto)
ADMIN_LOGIN=admin
ADMIN_PASSWORD=SuperSecretAdminPassword123!
ADMIN_FULL_NAME=Мария Директорова